<nav class="contact-nav">
  <ul class="contact-nav-list">
    <li class="contact-nav-list-item" title="Github">
      <a href="https://github.com/YaelBru">
       <i class="fab fa-github"></i>
      </a>
    </li>
    <li class="contact-nav-list-item" title="LinkedIn Profile">
      <a href="https://www.linkedin.com/in/yael-brunshtein-13531b186">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </li>
    <li class="contact-nav-list-item" title="brunshtein.yael@gmail.com">
      <a href="mailto:brunshtein.yael@gmail.com">
        <i class="far fa-envelope"></i>
      </a>
    </li>
    <li class="contact-nav-list-item" title="+972-545698242">
      <a href="tel:+972545698242">
        <i class="fas fa-mobile-alt"></i>
      </a>
    </li>
  </ul>
</nav>
<nav class="blog-nav">
  <a class="blog-nav-brand" href=""> < /Blog.js ></a>
  <ul class="blog-nav-list"> 
    <li class="blog-nav-list-item">
      <a class="blog-nav-list-link" routerLink="/about">About</a>
    </li>
  </ul>
</nav>
